* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1000px;
  margin: auto;
}

.up.clearfix, .down.clearfix {
  margin: 30px auto;
  width: 100%;
}

/* Img + Discount + Product */
img, .box {
  float: left;
  width: 32%;
}

img.right, .box.right {
  float: right;
}

.left, .right {
  margin: 0 10px;
}

.brand, .product, .price {
  display: block;
}

.brand, .price.strike {
  color: grey;
  font-size: 10px;
}

.product {
  font-size: 14px;
  text-transform: uppercase;
}

.price {
  font-size: 10px;
}

.new, .new::after {
  color: red;
}

.new::after {
  content: "\20AC";
}

.price .strike {
  color: grey;
  text-decoration: line-through;
}

/* Discounts */



 