* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1000px;
  margin: auto;
}

.up.clearfix, .down.clearfix {
  margin: 30px auto;
  width: 100%;
}

/* Img + Discount + Product */
.img-container {
  position: relative;
}

img:hover {
  content: "img/1b.webp"; chiedere perché non riesco ................................
}

.img-container, .box {
  float: left;
  width: 32%;
}

img {
  width: 100%;
}

.img-container.right, .box.right {
  float: right;
}

.left, .right {
  margin: 0 10px;
}

.brand, .product, .price {
  display: block;
}

.brand, .price.strike {
  color: grey;
  font-size: 10px;
}

.product {
  font-size: 14px;
  text-transform: uppercase;
}

.price {
  font-size: 10px;
}

.new, .new::after {
  color: red;
}

.new::after {
  content: "\20AC";
}

.price .strike {
  color: grey;
  text-decoration: line-through;
}

/* Labels */
.label {
  position: absolute;
  text-align: center;
}

/* Heart */
.label.heart {
  top: 10px;
  right: 0px;
  background-color: white;
  width: 30px;
  height: 30px;
  line-height: 33px;
}

/* Discount */
.label.discount {
  bottom: 20px;
  left: 0px;
  background-color: red;
  width: 40px;
  height: 20px;
}

.discount span, .sostenibilità span {
  color: white;
  font-size: 11px;
  line-height: 10px;
}

/* Sostenibilità */
.label.sostenibilità {
  bottom: 20px;
  left: 45px;
  background-color: #1E794C;
  width: 80px;
  height: 20px;
}

.label.sostenibilità.right {
  left: 0;
  margin: 0 0;
}
